@font-face
{
    font-family: Exodar;
    src: url(../fonts/Exodar-Outline.ttf);
}

body
{
    margin: 0; 
    background-color: #2c3e50;
    font-family: Arial;
    color: white;
}

#title
{
    display: inline-flex;
    font-family: Exodar;
    font-size: 3.8em;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-bottom: 40px;
    padding: 5px 0 0 5px;
}

#title img
{
    -moz-user-select: -moz-none;
    -webkit-user-drag: none;
    -ms-user-select: none;
    transition: transform 0.5s;
}

#title img:hover
{
    transform: scale3d(-1, 1, 1);
    -webkit-transition: transform 2s;
    transition: transform 0.5s;
}

#title-text
{
    color: #fff;
    margin-left: 20px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #4a69bd, 0 0 30px #4a69bd, 0 0 40px #4a69bd, 0 0 55px #4a69bd, 0 0 75px #4a69bd;
}

#title-text:hover
{
    animation: flicker 2s infinite;
    -webkit-animation: flicker 2s infinite;
}

#content
{
    padding: 0 10px;
}

footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #34495e;
    display: flex;
    align-content: flex-end; 
}

footer #footer-text
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Animations */

@keyframes flicker
{
    0% {opacity:0;}
    9% {opacity:0;}
    10% {opacity:.5;}
    13% {opacity:0;}
    20% {opacity:.5;}
    25% {opacity:1;}
}

@-webkit-keyframes flicker
{
    0% {opacity:0;}
    9% {opacity:0;}
    10% {opacity:.5;}
    13% {opacity:0;}
    20% {opacity:.5;}
    25% {opacity:1;}
}